---
import Layout from '../layouts/Layout.astro';
import ChatIsland from '../components/chat/ChatIsland.astro';
import FeaturedSection from '../components/FeaturedSection.astro';
---

<Layout title="Sitiorama">
  <section>
    <FeaturedSection />
  </section>
  <section class="mt-12">
    <ChatIsland />
  </section>
</Layout>